#FileMp{
    padding: 10px;
    background-color: rgb(152, 78, 221);
    width:min-content;

    
   

}
#FileMp>.files{
    display:none;



}

#FileMp:hover>.files{

    display:block;


}



.files{
    background-color: rgb(162, 93, 226);
    padding:3px;
    font-family: 'Times New Roman', Times, serif;
    transition:all 2s;
    margin-bottom: 10px;
    width:4.5vw;

}
.files:hover{
    background-color: rgb(100, 50, 200);
    transform: translateY(-0.2em);
    




}

.files>svg{

    width:15%;
    height:15;

}


:root{
    background-color: rgb(180, 180, 180);
    padding: 6px;




}
body{
    background-color: rgba(0, 0, 0, 0.596);
    padding:7.3px;

}